$sickly-yellow:#cbe346;
.Footer{
  background: $sickly-yellow;
  padding: 20px; 
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @media(min-width:768px){
    height: 100%;
    display: flex;
    align-items: center;
  }
  .Ball{
    text-align: center;
    position: absolute;
    width: 110px;
    height: 100px;
    bottom: 0;
    right: -20px;
    @media(min-width:768px){
      right: 0;
    }
    .Fill{
      object-fit: contain;
      width: 30px;
      height: 100%;
      @media(min-width: 768px){
        width: 40px;
        margin: auto;
      }
    }
  }
  ul{
    @media(min-width:768px){
      transform: translateX(100px);
    }
    li{
      color: black;
      @media(min-width: 768px){
        margin: 0 15px;
      }
      @media(min-width: 1200px){
        margin: 0 20px;
      }
    }
  }
}
